scripts/
.git/
.gitignore
.env
model/
csv/
__pycache__
src/__pycache__
src/controllers/__pycache__
src/controllers/temp
src/models/__pycache__
src/services/__pycache__
src/repositories/__pycache__
src/utils/__pycache__
.venv/
src/controllers/mrs_controller.py
src/models/model1.py
src/services/mrs_service.py